@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --highlight: #F58F89;
    --background: #fff8f5;
    --gray: #5C5C5C;
    --form-gray: #C4C4C4;
    --faded-highlight: #FFE2D6;
}

html, body {
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;  */
}

.container {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
}

.logo-area { 
    text-align: center;
    color: var(--highlight);
    font-size: 1.125rem;
    width: 50%; 
}

.social-links { 
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    width: 25%; 
}

.social-links a { 
    transition: transform .2s;
}

.social-links a:hover { 
    transform: scale(1.2);
}

.contact-links { 
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    width: 25%; 
}

.contact-links a { 
    color: grey; 
    text-decoration: none;
    transition: transform .2s;
}

.contact-links a:hover { 
    transform: scale(1.2);
}

hr { 
    border: 2px solid var(--faded-highlight);
}

.slider{
    width: 90vw; 
    margin-top: 10px; 
    padding: 20px; 
    margin: 0 auto; 
}

@media(max-width: 800px) {
    .slider {
        margin: 0;
        width: 100vw;
    }
}

.sliderimg {
  object-fit: cover;
  width: 100%; 
  height: 100%; 
}

.fandom-dropdown { 

    width: 100vw; 
    position: relative; 
    display: flex;
    margin-top: 30px; 
    justify-content: center;
    min-height: 100px; 
}


.product-grid { 

    width: 80vw; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
 }

 .product-item { 
     width: 400px; 
     height: 400px; 
     margin: 40px; 
 }

.gatsby-image-wrapper {
    width: 100%;
     height: 100%;
}

 .product-square {
    position: relative;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 2px; } 

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: white;
  }

.overlay:hover {
    opacity: 0.85;
  }

.text {
    color: #333;
    font-size: 1em;
    position: absolute;
   padding-top: 37%;
    text-align: center;
}

.footer { 
    width: 100%; 
    margin: 0; 
} 