@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --highlight: #f58f89;
  --dark-highlight: #983025;
  --background: #fffefd;
  --turq: #019d8d;
  --gray: #5c5c5c;
  --form-gray: #c4c4c4;
  --faded-highlight: #ffe2d6;
}

.snip-layout .snip-layout__main-container {
  border-radius: 10px !important;
  border: 10px solid white !important;
}
.snip-layout .snip-header {
  color: var(--highlight) !important;
  background: var(--background) !important;
  border-bottom: 1px solid var(--highlight) !important;
}
.snip-layout .snip-header__total {
  background: var(--faded-highlight) !important;
  color: var(--highlight) !important;
}
.snip-layout .snip-header__total-label {
  color: var(--gray) !important;
}
.snip-layout .snip-footer {
  background: var(--background) !important;
  border-top: 1px solid var(--highlight) !important;
}
.snip-layout .snip-btn--highlight {
  background: var(--highlight) !important;
  color: var(--background) !important;
}
.snip-layout .snip-btn--highlight:hover {
  background: var(--faded-highlight) !important;
  color: var(--highlight) !important;
}
.snip-layout a,
.snip-layout button {
  color: var(--highlight) !important;
}
.snip-layout .snip-ico--close:before {
  color: #f33e4f !important;
}
.snip-layout .snip-btn {
  background: var(--highlight) !important;
  color: var(--background) !important;
}
.snip-layout .snip-btn:hover {
  background: var(--faded-highlight) !important;
  color: var(--highlight) !important;
}
.snip-layout .snip-quantity-trigger__btn--add:before {
  background-color: white !important;
  border: 1px solid var(--highlight) !important;
  border-radius: 50% !important;
  line-height: 16px !important;
}
.snip-layout .snip-quantity-trigger__btn:hover {
  background: var(--highlight) !important;

  border: 1px solid var(--faded-highlight) !important;
}
.snip-layout .snip-quantity-trigger__btn--minus:before {
  background: white !important;
  border: 1px solid var(--highlight) !important;
  border-radius: 50% !important;
  line-height: 12px !important;
}
html,
body {
  background-color: var(--background);
  font-family: "Lato", sans-serif;
  font-style: normal;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 830px) {
  html,
  body {
    overflow-x: hidden;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: var(--faded-highlight);
}

html::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
}

.logo-area {
  text-align: center;
  color: var(--highlight);
  font-size: 1.125rem;
  width: 50%;
}

@media (max-width: 830px) {
  .logo-area {
    width: 100%;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 25%;
}

.social-links a {
  transition: transform 0.2s;
}

.social-links a:hover {
  transform: scale(1.2);
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 25%;
}

.contact-links a {
  color: grey;
  text-decoration: none;
  transition: transform 0.2s;
}

.contact-links a:hover {
  transform: scale(1.2);
}

.slider {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 830px) {
  .slider {
    margin: 0;
    width: 95vw;
  }
}

.sliderimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fandom-dropdown {
  position: relative;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  min-height: 100px;
}

.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.product-item {
  width: 400px;
  height: 400px;
  margin: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.gatsby-image-wrapper {
  width: 100%;
  height: 100%;
}

.product-square {
  position: relative;
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  border-radius: 2px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.overlay:hover {
  opacity: 0.85;
}

@media (max-width: 960px) {
  /* 960px is the cut off before the layout gets weird*/
  .product-grid {
  width:100%;
  }
  .product-item {
    width: 300px;
    height: 400px;
    margin: 20px;
  }
  .product-square {
    height: 300px;
    width: 300px;
  }
  .text {
    font-size: 0.75em !important;
    padding-top: 0px !important;
    text-align: left!important;
    opacity: 1;
    position: relative;
    background-color: var(--background);
    width: fit-content;
    height: fit-content;
    top: 300px;
    
  }
  h2{
    font-weight: 400;
  }
  h3{
    font-weight: 400;
  }
}
@media (max-width: 450px) { /* better for phones*/
  .product-item {
    width: 150px;
    height: 300px;
    margin: 10px;
  }
  .product-square {
    width: 150px;
    height: 150px;
  }
  .text{
    font-size: 0.75em !important;
    padding-top: 0px !important;
    top: 150px;
    
  }

}
.text {
  color: #333;
  font-size: 1em;
  position: absolute;
  padding-top: 37%;
  text-align: center;
  
}

.footer {
  width: 100%;
  margin: 0;
}
