@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    background-color: #fff8f5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.grid-container {
    height: 100vh; 
    display: grid;
    grid-template-areas:
    "header"
    "navbar"
    "slider"
    "product-grid"
    "footer";
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
}

.slider{
    grid-area: slider;
    display: flex;
    margin-top: 10px; 
    justify-content: space-around;
}

.logo-area { 
    /* grid-area: header; */
    text-align: center;
    color: #F58F89;
    font-size: 1.125rem;
    width: 50%; 
}

.social-links { 
    /* grid-area: header;  */
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    width: 25%; 
}

.social-links a { 
    transition: transform .2s;
}

.social-links a:hover { 
    transform: scale(1.2);
}

.contact-links { 
    /* grid-area: header; */
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    width: 25%; 
}

.contact-links a { 
    color: grey; 
    text-decoration: none;
    transition: transform .2s;
}

.contact-links a:hover { 
    transform: scale(1.2);
}

hr { 
    border: 2px solid #FFE2D6;
}

.navbar { 
    grid-area: navbar;
 }

 .navbar ul { 
    display: flex;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
 }

 .navbar li {
    padding: .5rem; 
 }

.navbar a {
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.8rem; 
    color: #5C5C5C;
}

.navbar a:hover {
    color: #F58F89;
    cursor: pointer; 
}

.product-grid { 
    grid-area: product-grid;
    width: 100%; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 

 }

 .product-item { 
     width: 400px; 
     height: 400px; 
     margin: 40px; 
 }

.footer { 
    grid-area: footer; 
}

@media only screen and (max-width: 600px){

    .grid-container {
        width: 100vw; 
        height: 100vh; 
        display: grid;
        grid-template-areas:
        "header"
        "navbar"
        "slider"
        "product-grid"
        "footer";
    }

}
